body {
    font-family: monospace;
    background: black;
    color: rgb(52, 243, 52);
    padding: 20px;
    font-size: 15px;
}

.screen {
    white-space: pre-wrap;
    overflow-y: scroll;
    height: 400px;
    border: 1px solid #444;
    padding: 10px;
    background: black;
    width: 50%;
}

button {
    margin-bottom: 10px;
    padding: 10px 20px;
}