body {
    font-family: monospace;
    background: #111;
    color: #0f0;
    padding: 20px;
}

#log {
    white-space: pre-wrap;
    overflow-y: scroll;
    height: 400px;
    border: 1px solid #444;
    padding: 10px;
    background: #000;
    width: 50%;
}

button {
    margin-bottom: 10px;
    padding: 10px 20px;
}